.login {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 20;
    justify-content: flex-end;
}
.diglog {
    width: 45%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
}
.box {
    width: 90%;
    margin-top: 10%;
}
.bar{
    display: flex;
}
.Btn_Home {
    width: 50%;
}
.icon {
    color: #fff;
    font-size: 50px;
}
.Box_login {
    display: flex;
    align-items: center;
}
.BTN_Login {
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 20px 40px;
}
.active .line {
   width: 40%;
   height: 2px;
   background: #fff;
   display: block;
   margin-left: 30%;
}